/* bubble-ching */
.bubble-ching .pagination-item {
  border-radius: 50%;
  color: #50b7a7;
  border: 2px solid #50b7a7;
}

.bubble-ching .pagination-item:hover {
  transform: scale(1.2);
  transition: all .25s;
}

.bubble-ching .ctrl-btn {
  background-color: #50b7a7;
}

.bubble-ching .ctrl-btn::after {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}

.bubble-ching .current {
  background-color: #50b7a7;
  color: #fff;
}