/* texture-dark */
.texture-dark .pagination-item {
  border-radius: 15%;
  background: linear-gradient(#b8b8b8, #3f3f3f 30%, #444 60%, #111);
  color: #fff;
  font-size: 0;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  box-shadow: 1.5px 1.5px 3px rgb(117, 96, 1), 0 1.5px 2px rgb(192, 192, 192) inset;
  border-top: 1px solid rgb(230, 230, 230);
  border-right: 1px solid rgb(32, 32, 32);
  border-bottom: 1px solid rgb(32, 32, 32);
  border-left: 1px solid rgb(225, 225, 225);
  position: relative;
}

.texture-dark .pagination-item::before {
  content: '';
  display: inline-block;
  padding: 100% 0 0 0;
}

.texture-dark .pagination-item p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-size: initial;
}

.texture-dark .pagination-item:hover {
  background: linear-gradient(#f1decf, #ef833a 30%, #ce7132 60%, #583115);
  border-right: 1px solid #924f23;
  border-bottom: 1px solid #5c3216;
}

.texture-dark .ctrl-btn::after {
  content: '';
  display: inline-block;
  width: 20%;
  height: 20%;
  border-top: 2px solid #fff;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-left: 2px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
}

.texture-dark .prev::after {
  transform: translate(calc(100% * 1.414 / 4 - 50%), -50%) rotate(-45deg);
}

.texture-dark .next::after {
  transform: translate(calc(-100% * 1.414 / 4 - 50%), -50%) rotate(135deg);
}

.texture-dark .current {
  background: linear-gradient(#f1decf, #ef833a 30%, #ce7132 60%, #583115);
  border-right: 1px solid #924f23;
  border-bottom: 1px solid #5c3216;
}