/* texture-dark */
.texture-dark .pagination-item {
  border-radius: 15%;
  background: linear-gradient(#b8b8b8, #3f3f3f 30%, #444 60%, #111);
  color: #fff;
  box-shadow: 1.5px 1.5px 3px rgb(117, 96, 1), 0 1.5px 2px rgb(192, 192, 192) inset;
  border-top: 1px solid rgb(230, 230, 230);
  border-right: 1px solid rgb(32, 32, 32);
  border-bottom: 1px solid rgb(32, 32, 32);
  border-left: 1px solid rgb(225, 225, 225);
}

.texture-dark .ctrl-btn::after {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}

.texture-dark .pagination-item:hover {
  background: linear-gradient(#f1decf, #ef833a 30%, #ce7132 60%, #583115);
  border-right: 1px solid #924f23;
  border-bottom: 1px solid #5c3216;
}

.texture-dark .current {
  background: linear-gradient(#f1decf, #ef833a 30%, #ce7132 60%, #583115);
  border-right: 1px solid #924f23;
  border-bottom: 1px solid #5c3216;
}